/* body设置 */
body {
	background: #66B3FF;
}
/* 注册标题框  */
.regist_title {
	background: #FFFFFF;
	min-height: 100px;
	max-height: 500px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #FFFFFF;
	margin-top: 80px;
}

/* 注册内容框 */
.regist_contain {
	background: #FFFFFF;
	padding: 0;
	min-height: 100px;
	max-height: 500px;
	border: 1px solid #FFFFFF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* 表单组外边距调整 */
.regist_contain .form-group {
	margin: 5px;
}

/* 模态框居中显示 */
.modal-footer {
	text-align: center;
}