<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aspire.dao.LevelOneDao">
	<!-- 查询全部一级列表 -->
 	<select id="findAll" resultType="com.aspire.entity.LevelOne">
		select * from level_one 
	</select> 
	
	<!-- 根据一级列表ID查询一级列表 -->
	<select id="findTitleByLevelOneId" parameterType="Integer" 
		resultType="com.aspire.entity.LevelOne">
		select * from level_one 
		where titleOneId=#{titleOneId}
	</select>

	<!-- 增加一级列表 -->
	<insert id="addLevelOneTitle" parameterType="com.aspire.entity.LevelOne" >
		insert into 
		level_one(titleName,createTime,lastModifyTime) 
		values(#{titleName},#{createTime},#{lastModifyTime})
	</insert>
	
	<!-- 更新一级列表 -->
	<update id="updateTitle" parameterType="com.aspire.entity.LevelOne" >
		update level_one 
		set titleName=#{titleName},lastModifyTime=#{lastModifyTime}
		where titleOneId=#{titleOneId}
	</update>
	
	<!-- 删除一级列表 -->
	<delete id="removeLevelOneTitle" parameterType="Integer">
		delete from level_one where titleOneId=#{titleOneId}
	</delete>
</mapper>